* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h3 {
    text-align: center;
}
dialog {
    background: #222;
    color: white;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
dialog #ppc {
    text-align: center;
}
dialog h1 {
    color: red;
}
#conteiner-list{
    display: flex;

}
#nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0px 40px 0px 40px;
}   
#nome-jogador {
    width: 100%;
    color: red;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}
#conteiner-list ul {
    padding: 0px 40px 0px 40px;
    margin: 0px;
    list-style-type: disc white;
    flex-direction: column;
    justify-items: start;
}

#dialogo-inicio::backdrop, dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}
#dialogo-inicio {
        background: #222;
    color: white;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
dialog button {
    
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
button:hover{
    background-color: #62ee62;
    color: rgb(0, 0, 0);
}
#lista-ranking {
    list-style-position: inside;
    text-align: left;
    font-size: 1.2em;
}
#lista-ranking li {
    margin-bottom: 10px;
}
.imagem {
    width: 150px;
    height: 100px;
}
h1 {
    text-align: center;
}
#button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn-iniciar-jogo {
    width: 200px;
    text-align: center;
}
#main-buttons {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btn-ranking {

    width: 200px;
}
#btn-reiniciar {
    width: 200px;
}
